*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: blueviolet;
    height: 150px;
}
.windovs{
    text-align: center;
    color: azure;
    padding-top: 40px;
}
.footer{
    background-color: brown;
    width: 100%;
    height: 300px;
}
